body {
	margin: 0;
	font-family: "Courier New", Courier, Baskerville, serif;
	background-color:  #d6d5c9d9;
	text-align: center;
	position: relative;
}



/*HEADER START*/
header {
	background-color: #370617;
	color: #d6d5c9d9;
	text-align: left;
}

header h1 {
	display: inline-block;
	font-size: 5vw;
	width: 40%;
	text-align: left;
	padding: 1%;
}

header h1 a {
	text-decoration: none;
	color: #d6d5c9d9;
}

#menuIcon {
	float: right;
	margin: 1vw;
	margin-right: 2%;
	color: #d6d5c9d9;
	font-size: 5vw;
}

#navMenu {
	display: none;
	position: absolute;
	right: 0;
	top: 6vw;
	width: 35%;
	z-index: 90;
	text-align: center;
	background-color: #370617;
}

#navMenu a {
	display: block;
	color: #d6d5c9d9;
	text-decoration: none;
	padding: 3%;
	margin: 1%;
	font-size: 3vw;
	transition: all 1s;
}

#navMenu a:hover {
	text-decoration: underline;
	font-size: 4vw;
	color: #FFFFFF;
	text-shadow: -1px 1px 0 #000000, 1px 1px 0 #000000, 1px -1px 0 #000000, -1px -1px 0 #000000;
}
/*HEADER END*/



/*MAIN CONTENT SECTION START*/
section {
	margin: 2% 0;
	position: relative;
	font-size: 9vw;
	color: #FFFFFF;
	text-shadow: -1px 1px 0 #000000, 1px 1px 0 #000000, 1px -1px 0 #000000, -1px -1px 0 #000000;
}

section h2 {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

section img {
	width: 100%;
	display: block;
}

article {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 5%;
	font-size: 4vw;
}

#imageContainer1, #imageContainer2 {
	display: none;
}

p > span {
	font-style: italic;
}

p > a {
	color: #000000;
}

p > a:hover {
	color: #9d0208;
}
/*MAIN CONTENT SECTION END*/



/*ASIDE START*/
aside h2 {
	font-size: 4vw;
	margin: 2%;
}

aside a {
	position: relative;
	display: inline-block;
	width: 6vw;
	height: 6vw;
	margin: 0 2%;
	font-size: 6vw;
	transition: all 1s ease;
}

.fa-twitter {
	color: #1DA1F2;
}

.fa-linkedin {
	color: #0072b1;
}

.fa-envelope {
	color: #D44638;
}

#upWorkBackground {
	width: 6vw;
	height: 6vw;
	visibility: visible;
	background-color: #32cd32;
	background-image: url("../images/upWorkLogo.png");
	background-size: contain;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 5%;
	transition: all 1s ease;
}

aside a:hover {
	width: 10vw;
	height: 10vw;
	font-size: 10vw;
}

#upWorkBackground:hover {
	width: 10vw;
	height: 10vw;
}
/*ASIDE END*/



/*FOOTER START*/
footer {
	margin: 4% 0 2% 0;
	font-size: 1.5vw;
}

footer nav a {
	text-decoration: none;
	color: #000000;
}

footer nav a:hover {
	text-decoration: underline;
}

footer div {
	margin-top: 1%;
	
}
/*FOOTER END*/



/*DESKTOP VIEW START*/
@media screen and (min-width: 780px) {

	/*HEADER START*/
	#menuIcon {
		display: none;
	}

	header {
		height: 5vw;
		position: relative;
	}

	header h1 {
		font-size: 3vw;
		width: 22%;
		height: 5vw;
	}

	#navMenu {
		display: inline-block;
		position: absolute;
		top: 0;
		width: 75%;
		height: 5vw;
		font-size: 3vw;
	}

	#navMenu a {
		display: inline-block;
		position: relative;
		top: 1vw;
		padding: 0;
		margin: 0;
		width: 23%;
		font-size: 2vw;
	}

	#navMenu a:hover {
		font-size: 2.5vw;
	}
	/*HEADER END*/



	/*MAIN CONTENT SECTION START*/
	#imageContainer1 {
		display: inline-block;
		float: left;
		width: 20%;
		margin: 1%;

	}

	#imageContainer2 {
		display: inline-block;
		width: 20%;
		float: right;
		margin: 1%;
	}

	#imageContainer1 img, #imageContainer2 img {
		width: 100%;
	}

	section {
		width: 50%;
		display: inline-block;
		font-size: 4vw;
	}

	article {
		width: 50%;
		font-size: 2vw;
	}

	#imageContainer1 img, #imageContainer2 img {
		transform: rotate(5deg);
	}

	#imageContainer1 img:nth-child(2), #imageContainer2 img:nth-child(2) {
		transform: rotate(-5deg);
	}
	/*MAIN CONTENT SECTION END*/



	/*ASIDE START*/
	aside {
		clear: both;
	}

	aside h2 {
		font-size: 2vw;
	}

	aside a, #upWorkBackground {
		width: 4vw;
		height: 4vw;
		font-size: 4vw;
	}

	aside a:hover, #upWorkBackground:hover {
		width: 5vw;
		height: 5vw;
		font-size: 5vw;
	}
	/*ASIDE END*/
}
/*DESKTOP VIEW END*/